.form {
    width: 396px;
    display: flex;
    flex-direction: column;
} 

.form__logo {
    text-align: start;
    margin: -9px 0 20px;
}

.form__header {
    font-size: 24px;
    font-weight: 500;
    align-self: flex-start;
    margin: 17px 0 35px;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 107px;
}

.form__label {
    color: #8B8B8B;
    font-size: 10px;
    align-self: flex-start;
    margin-top: 5px;
}

.form__input {
    border: none;
    border-bottom: 1px solid #424242;;
    font-size: 14px;
    width: 100%;
    background-color: inherit;
    outline: none;
    padding: 0 0 10px;
    margin-top: 6px;
    color: #FFF;
    font-weight: 400;
}

.form__input:focus {
    border-bottom: 1px solid #4285F4;
}

.form__input_red {
    color: #EE3465;
}

.form__input-error {
    height: 15px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.form__text {
    color: #8B8B8B;
    font-size: 14px;
    margin-top: 18px;
    cursor: default;
}

.form__link {
    text-decoration: none;
    color: #4285F4;
    margin-left: 6px;
}

.hidden {
    display: none;
}

.form__input-container_margin {
    margin-bottom: 176px;
}

button:disabled {
    cursor: default;
    background-color: #F8F8F8;
    color: #000;
}

button:disabled:hover {
    opacity: 1;
}

.server-error {
    color: red;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    margin: 0 0 10px;
}

@media (max-width: 768px) {
    .form__logo {
        margin: 154px 0 19px;
    }
}

@media (max-width: 470px) {
    .form__logo {
        margin: -22px 0 19px;
        align-self: center;
    }

    .form__header {
        align-self: center;
        margin: 27px 0 77px;
    }

    .form {
        padding: 0 30px;
    }

    .form__input-container {
        margin-bottom: 192px;
    }

    .form__text {
        font-size: 12px;
        margin-top: 14px;
    }

    .form__input-container_margin {
        margin-bottom: 262px;
    }
}