.movies-list {
    padding: 70px 0 79px;
    width: max-content;
    margin: 0 auto;
}

.movies-list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 32px;
}

.movies-list__button {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background: #2F2F2F;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 60px;
    font-size: 12px;
}

.movies-list__devider {
    height: 153px;
} 

@media (max-width: 1170px) {
    .movies-list__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 35px;
    }

    .movies-list {
        padding-top: 78px;
        width: max-content;
        margin: 0 auto;
    }

    .movies-list__button {
        margin-top: 34px;
    }

    .movies-list__devider {
        height: 93px;
    }
}

@media (max-width: 740px) {
    .movies-list__container {
        grid-template-columns: 1fr;
        row-gap: 35px;
    }    
}

@media (max-width: 380px) {
    .movies-list {
        padding: 37px 0 79px;
    }

    .movies-list__container {
        row-gap: 16px;
    }
}