.movies {
    margin: 0 auto;
    text-align: center;
}

.movies__no-result-message {
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
}